{% extends 'base.html' %}


{% block page_content %}
{% for message in get_flashed_messages() %}
 <div class="alert alert-warning">
 <button type="button" class="close" data-dismiss="alert">&times;</button>
 {{ message }}
 </div>
 {% endfor %}
<h1>Login</h1>


<form action="/login" id="login" method="post">
    <div class="mb-3">
      {{login_form.hidden_tag()}}
      {{login_form.name.label}}
      {{login_form.name(class="form-control form-control-lg")}}
      {{login_form.password.label}}
      {{login_form.password(class="form-control")}}
      {{login_form.submit(class="btn btn-primary")}}
      </div>
  </form>
<p> New User?
        <a class= "btn btn-primary" href="{{url_for('auth.register')}}">Register</a>
</p>
{% endblock %}