#flexbox{
    gap: 10px;
    flex-wrap: wrap;
    border: 1px solid black;
   
}
.card{
    width: 300px;
    transition: transform 300ms ease-in-out; 
}
.card:hover{
    transform: scale(1.05);
}
#converter{
    float:right;
    width:10%;
    background: blue;
    display: none;
}
#login{
    width: 500px;
    
}