{% extends 'base.html' %}



{% block page_content %}





<h1 id="title"> The Ganja Cave</h1>

<article class="container-sm" id="converter">
    <h2 class="subtitle">Weed Converter</h2>
    <label class="conv-container" for="grams">Grams</label>
    <input class="conv-container" type="number" id='grams'>
    <label class="conv-container" for="grams">Ounces</label>
    <input class="conv-container" type="number" id='ounces'>

</article>

<form action="/login" id="login" method="post">
    <div class="mb-3">
      {{plug_form.hidden_tag()}}
      {{plug_form.name.label}}
      {{plug_form.name(class="form-control")}}
      {{plug_form.password.label}}
      {{plug_form.password(class="form-control")}}
      {{plug_form.submit(class="btn btn-primary")}}
  </form>

 <a class= "btn btn-primary" href="{{url_for('.add_product')}}">Add Product</a>


 
    {% endblock %}